<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <title>Add new employee</title>
</head>
<body>

<div class="container">
    <h2>Save Employee</h2>
    <hr>

    <form action="#" th:action="@{/saveEmployee}" th:object="${employee}" method="POST">

        <input type="hidden" th:field="*{id}"/><!-- to handle update -->
        <input type="text" th:field="*{firstName}" class="form-control mb-4"
               placeholder="First Name">
        <input type="text" th:field="*{lastName}" class="form-control mb-4"
               placeholder="Last Name">
        <input type="text" th:field="*{personalIdentityNumber}" class="form-control mb-4"
               placeholder="Personal Identity Number">
        <button type="submit" class="btn btn-info col-2">Save</button>
    </form>
    <hr>
    <a th:href="@{/listEmployees}">Back to Employees list</a>
</div>
</body>
</html>